<configuration scan="true" scanPeriod=" 5 seconds">

  	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/data/applogs/proxy-service/proxy.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/data/applogs/proxy-service/proxy.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%-26(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{48} %line - %msg%n</pattern>
		</encoder>
    </appender>



    <root level="info">
		<appender-ref ref="logfile"/>
	</root>
</configuration>